/* src/components/AssignmentsCarousel.css */

.assignments-carousel {
  margin-top: 2rem;
  padding: 2rem;
  position: relative;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--color-secondary); /* Subtle border */
  border-radius: 10px;
}

.assignments-carousel h2 {
  padding-bottom: 1rem;
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  position: relative;
}

.assignments-carousel h2:hover {
  color: var(--color-secondary);
}

.assignments-carousel__container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 1rem;
  padding: 1rem 0;
  scrollbar-width: none;
}

.assignments-carousel__container::-webkit-scrollbar {
  display: none;
}

.assignments-carousel__item {
  flex: 0 0 auto;
  width: 150px;
  text-align: center;
}

.assignments-carousel__thumbnail {
  width: 150px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  transition: transform 0.2s;
}

.assignments-carousel__thumbnail:hover {
  transform: scale(1.05);
}

.assignments-carousel__item p {
  font-size: 1rem;
  color: var(text-color);
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.scroll-button.left {
  left: 10px;
}

.scroll-button.right {
  right: 10px;
}

.scroll-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
