/* Experience Container */
.experience-container {
  padding: 2rem;
  color: var(--text-color);
  text-align: center;
}

.experience-header {
  position: relative;
  margin-bottom: 2rem;
}

.experience-header .experience-bg-text {
  font-size: 3rem;
  color: var(--header-text-color);
  opacity: 0.1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.experience-header h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.experience-header h2 span {
  color: var(--highlight-color);
}

.scroller-card {
  flex: 0 0 auto;
  max-width: 300px;
  background-color: var(--bg-color);
  border: 1px solid var(--color-secondary);
  border-radius: 10px;
  padding: 1rem;
  text-align: left;
  white-space: normal;
  word-wrap: break-word;
}

.scroller-card h3 {
  font-size: 1.5rem;
  color: var(--highlight-color);
}

.scroller-card p {
  margin: 0.5rem 0;
  color: var(--header-text-color);
}


/* Education Scroller */
.education-scroller {
  display: flex;
  gap: 1rem;
  padding-block: 1rem;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

.education-scroller-track {
  display: flex;
  gap: 1rem;
  animation: scroll-left 45s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Hover Effect - Pause Scroll */
.education-scroller-track:hover {
  animation-play-state: paused;
}